<a href="https://colab.research.google.com/github/JayPat2003/Python-from-Scratch/blob/main/2_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comments

There are 2 types of comments in python:


1.   Single Line Comment
2.   Multi Line Comment

## Single Line Comments

These comments start with a hash symbol (#) and the entire line is considered as a comment.

In [ ]:
# This is a single line comment in python.

## Multi line Comments

In [ ]:
# This is the program to find the salary
# I am an employee
# I am good and feeling nice here.

Instead of using # symbol for every line, we can use triple double quotes (""") or triple single quotes ('''). These multi line comments are also called as block comments.

In [ ]:
"""
This is a multi line comment in python.
I am an employee
I am good and feeling nice here.
"""

'\nThis is a multi line comment in python.\nI am an employee\nI am good and feeling nice here.\n'

In [ ]:
'''
This is a multi line comment in python.
I am an employee
I am good and feeling nice here.
'''

'\nThis is a multi line comment in python.\nI am an employee\nI am good and feeling nice here.\n'



*   Using """ or ''' are not recommended for comments by developers becasue they internally occupy memory and would waste time of the interpreter since the interpreter still considers them as regular strings with the exception that they can span multiple lines.

* If we write strings inside """ or ''' and if these strings are written as first statements in module, function, class or a method, then these strings are called *documentation* strings or *docstrings.*

# Datatypes in Python

A datatype represents the type of data stored into a variable or memory.

## Built-in Datatypes

The datatypes which are already available in Python language are called *Built-in* datatypes.

There are 5 types of built-in datatypes, they're as follows:


*   None Type
*   Numeric Types
*   Sequences
*   Sets
*   Mappings

### The None Type



*   In Python, the 'None' datatype represents an object that doesn't contain any value. Whereas in Java it is called as 'null' object.
*   One of the uses of 'None' is that it is used inside a function as a default value of the arguments. When calling the function, if no value is passed, then the default value will be taken as 'None'.
*   If some value is passed inside the function then that specific value is used by the function.
*   In Boolean expressions, 'None' datatype represents 'False'.

### Numeric Types
There are 3 sub-types in it:


*   int
*   float
*   complex

#### Int Datatype


*   It represent a number without decimal points or fractional parts.
*   For example: 200,98,-3, etc.


```
a = -90
```
Here, a is called an int type variable since it is storing -90 as an integer value. In Python, there is no limit for the size of an int datatype

#### Float Datatype


*   It represents those numbers which contain decimal point.
*   For example: 9.4, 89.8, etc.



```
num = 74.9803
```


*   These can be also written in scientific notation where we can use 'e' or 'E' which represents 'exponentiation'.



```
x = 23.45e4
```
That means that the float value is 23.45 x 10^4 will be stored in the variable x. It is convenient in scientific notation because large numbers can be represented using less memory.

#### Complex Datatype


*   The complex numbers are written in the form of a + bj or a + bJ
*   Here, a represents the real part of the number and b represents the imaginary part and it is suffix by 'j' or 'J'.
*   b indicates the square root of -1.
*   For example: 3 + 5j, -1 - 8.7j, etc.



```
im1 = 2 + 3.4j
```

In [ ]:
# Program to display the sum of 2 complex numbers
c1 = 2.4 + 3.9j
c2 = -9 - 7j
c3 = c1 + c2
print("Sum is:", c3)

Sum is: (-6.6-3.1j)

#### Representing Binary, Octal and Hexadecimal Numbers

*   A binary number should be written by prefexing 0b (zero and b) or 0B (zero and B) before the value. For example: 0b010110, 0B00111.
*   Hexadecimal numebrs are written by prefixing 0x (zero and x) or 0X (zero and X). For example: 0xA181,0X11fb98.
*   Octal numbers are written by prefixing 0o (zero and o) or 0O (zero and O). For example: 0o143, 0O2213.

#### Converting the Datatypes Explicitly

*   Depending on the type of data, Python internally assumes the datatype for the variable.
*   Sometimes, we want to convert one datatype into another type. This is called *type conversion* or *coercion*.

In [ ]:
# int(x) is used to convert the number x into int type.
x = 13.45
print(int(x))

13

In [ ]:
# float() is used to convert x into float type.
x = 12
print(float(x))

12.0

In [ ]:
# complex(x) is used to convert x into complex number with real part x and 0 as the imaginary part

x = 12
print(complex(x))

(12+0j)

In [ ]:
a = 12
b = -2
complex(a,b)

(12-2j)

In [ ]:
#Program to convert octal, binary and hexadecimal systems into decimal number system
n1 = 0o12
n2 = 0b01011
n3 = 0x11fb98

n = int(n1)
print('Octal = ', n)

n = int(n2)
print('Binary = ', n)

n = int(n3)
print('Hexadecimal = ', n)

Octal =  10
Binary =  11
Hexadecimal =  1178520

In [ ]:
str = "1f4" #String str contains a hexadecimal number
n = int(str, 16) #Convert string into decimal number mentioned with base 16
print(n)
# it is base 2 for the binary numbers.

500

In [ ]:
#Python program to convert into decima number system
s1 = "12"
s2 = "10110011"
s3 = "2d4"

n = int(s1,8)
print('Octal: ', n)

n = int(s2,2)
print('Binary: ', n)

n = int(s3,16)
print('Hexadecimal: ', n)

Octal:  10
Binary:  179
Hexadecimal:  724

In [ ]:
# bin() to convert nuumber into binary system
# oct() to convert number into octal system
# hex() to convert number into hexadecimal

a = 24
b = bin(a)
print(b)

b = oct(a)
print(b)

b = hex(a)
print(b)

0b11000
0o30
0x18

## Bool Datatype



*   The bool datatype represents boolean values.
*   There are only 2 boolean values True or False.
*   True as 1 and False as 0. Blank string "" also represent False.

In [ ]:
a = 10
b = 14
if(a<b):
  print('Hi')

Hi

In [ ]:
a = 19 > 2
print(a)

b = 2 > 89
print(b)

True
False

## Sequence in Python
 Sequence is a group of elements or items. There are 6 types of sequences in Python:


1.   str
2.   bytes
3.   bytearray
4.   list
5. tuple
6. range

#### **Str Datatype**

str represents string datatype. A string is represented y a group of characters. Strings can be enclosed in single and double quotes. Both are valid.

In [ ]:
str = """ This is 'Python' programming """
print(str)

str = '''This is "Python" programming'''
print(str)

 This is 'Python' programming
This is "Python" programming

In [ ]:
s = 'Welcome to Python Course'
print(s)

Welcome to Python Course

In [ ]:
print(s[0])

W

In [ ]:
print(s[2:6]) # character from 2nd to 6th character

lcom

In [ ]:
print(s[8:]) # character from 8th character till the end

to Python Course

In [ ]:
print(s[-1]) # first character from the end

e

In [ ]:
# * sysmbol used for repetition of the string
print(s*2)

Welcome to Python CourseWelcome to Python Course

#### **Bytes Datatype**


*   Bytes datatype represents a group of byte numbers just like an array does.
*   A byte number is any postive integer from 0 to 255.
*   Bytes array can store numbers in the range from 0 to 255 and it can't even store negative numbers.
*   We can't modify or edit any element in the bytes type array.

In [ ]:
elements = [10,20,30,40,50]
x = bytes(elements)
print(x[0])

10

In [ ]:
# Program to understand bytes type array
elements = [10,20,30,40,50]
x = bytes(elements)
for i in x:
  print(i)

10
20
30
40
50

#### **Bytearray datatype**



It is similar to bytes datatype but the difference is that they bytes array can't me modified but the bytearray type array can be modified.

In [ ]:
# Program to understand bytearray type array
# list of byte numbers

elements = [10,20,30,40,50]
x = bytearray(elements)

#modify the first 2 elements
x[0] = 2
x[1] = 3

#retreive elements from x using the for loop and display it
for i in x:
  print(i)

2
3
30
40
50

#### **List datatype**

*   A list represents a group of elements.
*   The main difference between a list and an array is that a list can store different types of elements but an array can store only type of elements.
*   Lists can grow dynamically in memory. Whereas, the size of arrays are fixed and can't grow at runtime.
*   Lists are represented using square brackets [ ] and the elements are written inside and seperated by commas.

In [ ]:
list = [1,43,3.5,"Jayesh"]
print(list)

[1, 43, 3.5, 'Jayesh']

In [ ]:
print(list[0])

1

In [ ]:
print(list[1:3])

[43, 3.5]

In [ ]:
print(list[-2])

3.5

In [ ]:
print(list*2)

[1, 43, 3.5, 'Jayesh', 1, 43, 3.5, 'Jayesh']

#### **Tuple datatype**



*   Tuples are similar to list.
*   They are group of elements which can be of different types.
*   Elements are seperated by commas and enclosed in ( ).
*   We can NOT modify elements inside the tuple. A tuple can be treated as read-only

In [ ]:
tpl = (10,-3, 9.4, "Python", "Jayesh")
print(tpl)

(10, -3, 9.4, 'Python', 'Jayesh')

In [ ]:
print(tpl[0])

10

In [ ]:
print(tpl[1:3])

(-3, 9.4)

In [ ]:
print(tpl[-2])

Python

In [ ]:
print(tpl*2)

(10, -3, 9.4, 'Python', 'Jayesh', 10, -3, 9.4, 'Python', 'Jayesh')

#### **Range datatype**


*   They represent a sequence of numbers.
*   Numbers in the range are not modifiable.
*   Generally used for repeating a for loop for a specific number of times.

In [ ]:
r = range(10)
for i in r:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
r = range(20,30,2)
for i in r:
  print(i)

20
22
24
26
28

### **Sets**

*   A set is an unordered collection of elements just like a set in Maths.
*   The order of the elements is not maintained in the sets.
*   Here, elements may not appear in the same order as they are entered into the set.
*   Sets do NOT accept duplicate elements.

There are 2 sub-types of sets:
1. Set datatype
2. Frozenset datatype

#### **Set Datatype**


*   Here, elements are seperated by commas and aare enclosed inside { }.
*   The output of the set may not be ordered.
*   We can't retreive elements using indexing or slicing operations.

In [ ]:
s = {10, 20, 30, 20, 50}
print(s)

{10, 20, 50, 30}

In [ ]:
# can use set() function to create a set
ch = set("Hello")
print(ch)

{'e', 'o', 'l', 'H'}

In [ ]:
lst = [1,2,5,4,3]
s = set(lst)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# update() method is used to add elements to a set
s.update([50,80])
print(s)

{1, 2, 3, 4, 5, 80, 50}

In [ ]:
# remove() method is used to remove any particular element from a set
s.remove(50)
print(s)

{1, 2, 3, 4, 5, 80}

#### Frozenset datatype

*  It is same as the set datatype.
*  The difference between the set datatype and frozen datatype is that set datatype can be modified and frozenset can't be modeified.
*   We can create a frozenset using frozenset() function.

In [ ]:
s = {50,60,70,80,90}
print(s)

fs = frozenset(s)
print(fs)
#

{80, 50, 70, 90, 60}
frozenset({80, 50, 70, 90, 60})

In [ ]:
fs = frozenset("abcdefg")
print(fs)

frozenset({'b', 'c', 'e', 'g', 'f', 'a', 'd'})

update() and remove() methods won't work in frozensets since they can't be modified or updated.

#### Mapping Types

*   A map represents a group of elements in the form of key value pairs so that the key is given, we can retreive the value associated with it.

*   The *dict* datatype which represents dictionary contains pairs where the 1st element represents the key and the next one becomes its value.

*   Key value pair is separated by colon (:) and every pair is seperated by comma. All the elements should be enclosed inside curly brackets {}.

In [ ]:
d = {1:'Jayesh', 2:'Raju', 3:'Suresh'}
print(d)

{1: 'Jayesh', 2: 'Raju', 3: 'Suresh'}

In [ ]:
print(d[3])

Suresh

In [ ]:
d.keys()

dict_keys([1, 2, 3])

In [ ]:
# we can update and remove the values inside the keys
d[2] = "Abdul"
print(d)

{1: 'Jayesh', 2: 'Abdul', 3: 'Suresh'}

In [ ]:
del d[3]
print(d)

{1: 'Jayesh', 2: 'Abdul'}

## **Literals**
A *literal* is a constant value that is stored into a variable in a program.

There are different types of literals in Python:


*   Numeric literals
*   Boolean literals
*   String literals

In [ ]:
# String literals
str = "This is first line and \
this will be a continuation of the first line"
print(str)

This is first line and this will be a continuation of the first line

In [ ]:
# \n for next line
str = "This is \n Python Language."
print(str)

This is
 Python Language.

Important Escape characters in strings are as follows:


1.   \ - New Line continuation
2.   \\\ - Display a single \
3.   \\' - Display a single quote
4.   \\" - Display a double quote
5.   \b - backspace
6.   \r - Enter
7.   \t - Horizontal tab space
8.   \v - Vertical tab
9.   \n - New line

## Determining the Datatype and Character of a Variable

In [ ]:
a = 15
print(type(a))

<class 'int'>

In [ ]:
a = 15.5
print(type(a))

<class 'float'>

In [ ]:
s = 'Hello'
print(type(s))

<class 'str'>

In [ ]:
lst = [1,2,3,4,5]
print(type(lst))

<class 'list'>

In [ ]:
t = (1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [ ]:
s = {1,2,3,4,5}
print(type(s))

<class 'set'>

Remember that in Python, we don't have any char datatype to represent individual characters. It is represented in the form of strings.

In [ ]:
ch = 'A'
print(type(ch))

<class 'str'>

In [ ]:
str = "India"
print(str[0])

I

In [ ]:
for i in str:
  print(i)

I
n
d
i
a

In [ ]:
# isupper() method test whether a string is uppercase or lowercase. It returns True or False value.
# It is true if the string is uppercase or else it is False
print(str[0].isupper())

True

In [ ]:
str[1].isupper()

False

In [ ]:
# Similarly, islower() is used to check whether the given string is in lower case or not.
str[1].islower()

True

## User Defined Datatypes


*   Datatypes which are created by the programmers are called 'user-defined' datatypes.
*   An array, a class or a module is user-defined datatypes.

### Constants in Python

A constant is similar to a variable but its value cant be modified or changed in the course of program execution.

A programmer can indicate a variable as constant by writing its name in all capital letters.

For example : MAX_VALUE is a constant.

### Identifiers and Reserved Words

*   An identifier is name that is given to a variable or function or class, etc.
*   It can include letters, numbers and underscore character (_).
*   Symbols like ?, #, $, % and @ are not allowed in identifiers.
*   Python is a case sensitive programming language. That means 'a' and 'A' are considered as different variables.

In [ ]:
import keyword

# Get the list of reserved words
reserved_words = keyword.kwlist

# Print the list
print(reserved_words)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Naming Conventions in Python

*   **Packages**: It should be written in all lower case letters. It should be separated by underscore (_).

*   **Modules**: It should be written in all lower case letters and should be separated by underscore (_).

*   **Classes**: For user-defined class, it should start with capital letters whereas for built-in class names should all be in lower case.

*   **Global variables or Module-level variables**: It should be all in lower case letters and should be separated by underscore(_).

*   **Functions**: All should be in lower case and separated by underscore(_).

*   **Methods**: All should be in lower case and separated by underscore(_).

*  **Method arguments**: For instance methods, the first argument name should be 'self' and in case of class methods, their first argument should be 'cls'.

*  **Constants**: All should be in capital case and separated by underscore(_).

*   **Non-accessible entities**: Some variables, functions and methods are not accessible outside and they should be used as they are in the program.