<a href="https://colab.research.google.com/github/JayPat2003/Python-from-Scratch/blob/main/3_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type Casting

Type casting is a method to convert the python variable datatype into a certain data type inorder to perdorm the operations.

There are 2 types of Type Casting:


1.  **Implicit Type Conversion**: In this method, Python converts the datatype into another datatype automatically.Here, user is not involved in the process.


2.  **Explicit Type Conversion**: Python needs user involvment to convert the datatype of variable into the desired datatype.

In [ ]:
#implicit type conversion
a = 7
print(type(a))
b = 7.5
print(type(b))
c = a + b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
14.5
<class 'float'>

In [ ]:
#explicit type conversion
a = 7
b = 3.5
c = int(a+b)
print(type(a))
print(type(b))
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10
<class 'int'>

**int()** : Take float or string as 'argument' and returns int.

**float()** : Take int or string as argument and returns float.

**str()** : Takes float or int as argument and returns str.

In [ ]:
# int()

a = 8.5
i1 = int(a)
print(i1)
print(type(i1))

b = "1.5"
# Convert to float first, then to int
f1 = float(b)
i2 = int(f1)
print(i2)
print(type(i2)) # --- this will throw an error

c = "8"
i3 = int(c)
print(i3)
print(type(i3))

d = "abc"
# Handle the potential error when converting "abc" to an integer
try:
    i4 = int(d)
    print(i4)
    print(type(i4))
except ValueError:
    print("Cannot convert 'abc' to an integer.")

8
<class 'int'>
1
<class 'int'>
8
<class 'int'>
Cannot convert 'abc' to an integer.

In [ ]:
# float()

a = 8.5
f1 = float(a)
print(f1)
print(type(f1))

b = "1.5"
f2 = float(b)
print(f2)
print(type(f2)) # --- this will not throw an error because of float()

c = "8"
f3 = float(c)
print(f3)
print(type(f3))

# d = "abc"
# f4 = float(d)
# print(f4)
# print(type(f4))

8.5
<class 'float'>
1.5
<class 'float'>
8.0
<class 'float'>

In [ ]:
# str()

a = 8.5
print(type(a))
s1 = str(a)
print(s1)
print(type(s1))

b = "1.5"
print(type(b))
s2 = str(b)
print(s2)
print(type(s2)) # --- this will not throw an error

<class 'float'>
8.5
<class 'str'>
<class 'str'>
1.5
<class 'str'>

# Operators

Symbol that performs specific operation between 2 operands (variable).

## Supported Operators in Python:


1. Arithmetic operators
2. Comparison operators
3. Assignment operators
4. Logical Operators
5. Bitwise Operators
6. Membership Operators
7. Identity Operators

## Arithmetic Operators

(+) : addition

(-) : subtraction

(*) : multiplication

(/) : division

(%) : reminder (modulus)

(**) : Exponent

(//) : Floor Division

The order of evaluation are as follows:


1.   Parantheses ()
2.   Exponentiation
3.   Multiplication, division, modulus and floor divisions at equal priority
4.   Addition and subtraction afterwards
5.   Assignment operation is performed.

In [ ]:
a = 2
b = 2
c = 3
x = 1
y = 2
z = 3

d = (x+y)*z**a//b+c
print(d)

16

## Relational Operators

Compare the two operands and returns a true or false.


*   (==) : Check if a & b are equal.
*   (!=) : Check if a & b are not equal.
*   (<=) : Check if a is less than or equal to b.
*   (>=) : Check if a is greater or equal to b.
*   (>) : Check if a is greater than b.
*   (<) : Check if a is less than b.

In [ ]:
a = 1
b = 2
if (a>b):
  print('Yes')
else:
  print('No')

No

Relational operators can be chained. It means, a single expression can hold more than one relational operator.

In [ ]:
x = 15
print(10<x<20)

True

In [ ]:
print(10 >= x > 20)

False

In [ ]:
print(10<x>20)

False

## Assignment Operators


*   These operators are used to store the right side value into a left side variable.
*  Operations like addition, subtraction, multiplication and so on occur on the right hand side of the equation and stored its result in the variable.

In [ ]:
x = 20
y = 10
z = 5

In [ ]:
z = x+y
print(z)

30

In [ ]:
z += x
print(z)

50

In [ ]:
z -= x
print(z)

30

In [ ]:
z *= x
print(z)

600

In [ ]:
z /= x
print(z)

30.0

In [ ]:
z %= x
print(z)

10.0

In [ ]:
z **= y
print(z)

1e+190

In [ ]:
z //= y
print(z)

1e+189

## Unary Minus Operator



*   It is denoted by the symbol minus (-).
*   When this operator is used before a variable, it svalue is negated. That means if the variable value is positive, it will be converted into negative and vice-versa.

In [ ]:
n = 14
print(-n)

-14

In [ ]:
num = -29
num = -num
print(num)

29

## Logical Operators


Used to construct compound conditions. A compound condition is a combination of more than one simple condition.

In AND operation, when both the statements are true then only the resultant will be true or else it would be false.

In OR operation, if either of the statements is true then the resultant will be true.

In [ ]:
x = 100
y = 200
print(x and y)

print(x or y)

print(not x)

200
100
False

In [ ]:
x = 1
y = 2
z = 3

if (x < y and y < z):
  print('Yes')
else:
  print('No')

Yes

## Boolean Operators

There are 2 types of bool type literals:


*   True
*   False

In [ ]:
a = True
b = False

In [ ]:
print(a and a)

True

In [ ]:
print(a and b)

False

In [ ]:
print(b and b)

False

In [ ]:
print(a or a)

True

In [ ]:
print(a or b)

True

In [ ]:
print(b or b)

False

In [ ]:
print(not a)

False

In [ ]:
print(not b)

True

## Bitwise Operators



*  These opertors act on individual bits (0 and 1) of the operands.
*  When we ise these operators on intergers, these numbers are converted into bits (binary number system) and then bitwise operators act upon those bits.
*   The results given by these operators are always in the form of integers.

There are 6 types of bitwise operators:


*   Bitwise Complement operator (~)
*   Bitwise AND operator (&)
*   Bitwise OR operator (|)
*   Bitwise XOR operator (^)
*   Bitwise Left Shift operator (<<)
*   Bitwise Right Shift operator (>>)

In [ ]:
x = 10 # integer
print(~x)

-11

In [ ]:
x = 10 #integer
y = 11 #integer

print(x & y) # and operation

10

In [ ]:
print(x | y) # or operation

11

In [ ]:
print(x ^ y) # xor operation

1

In [ ]:
print(x << 2) # left shift

40

In [ ]:
print(x >> 2) # right shift

2

## Membership Operators



*   Used to test for membership in a sequence such as strings, lists, tuples or dictionaries.
*   For example, if an element is found in the sequence or not can be asserted using these operators.

There are 2 membership operators:



1.   in
2.   not in

### in operator

It returns True if an elements is found in the specified sequence.

If the element is not found then it returns False.

### Not in Operator

It works in reverse manner of the 'in' oeprator.

It returns True if the element is not present in the sequence and False if the element is present in the sequence.

In [ ]:
# checking in lists
names = ["Jayesh", "Ramesh", "Marcus", "Mustafa"]
for name in names:
  print(name)

Jayesh
Ramesh
Marcus
Mustafa

In [ ]:
if "Jayesh" in names:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
if "Priya" not in names:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
# checking in dictionaries
postal = {'Mumbai' : 401107, 'Delhi' : 110001, 'Hyderabad' : 500090, 'Chennai': 600001}

for city in postal:
  print(city, postal[city])

Mumbai 401107
Delhi 110001
Hyderabad 500090
Chennai 600001

## Identity Operators


*   These operators compare the memory locations of 2 objects. Hence, we can know that whether both of the objects are same or not.
*   We can check it by using the id() function.
*   The function returns an integer number called *identity number* that represent the memory location of the object stored.

In [ ]:
a = 18
b = 18

print(id(a))
print(id(b))

139650914288400
139650914288400

There are 2 types of identity operators:


1.   is
2.   is not

### Is operator



*   It is used to compare whether 2 objects are same or not.
*   It will internally compare the identity number of the objects.
*   If the identity numbers are same, then it will return true or else it'll return false.