<a href="https://colab.research.google.com/github/JayPat2003/Python-from-Scratch/blob/main/4_Input_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   The purpose of the data is to process athe data and return the results.
*   The data given to the computer is called *input*.
*   The results returned by the computer are called *output*.
*   So, computers basically takes iput, processes the following input and produces the output.

# Output statements

To display the output or results, Python provides the **print()** function.

## *The print("string") Statement*

In [ ]:
print("Hello World")

Hello World

In [ ]:

print("Hello")
print("Jay")

Hello
Jay

In [ ]:
print("This is the \n first line")

This is the
 first line

In [ ]:
print("This is the \t first line")

This is the 	 first line

In [ ]:
# to show \n as output we would write \\n
print("This is the \\n first line")

This is the \n first line

In [ ]:
print(3 * 'Hi')

HiHiHi

In [ ]:
# in strings, + is used to join 2 strings and this is called concatenation
print("City name = " + "Hyderabad")

City name = Hyderabad

In [ ]:
# we can separate the statement using ',' too
print("Hello","Jayesh","Pattamatta")

Hello Jayesh Pattamatta

## *The print(variables list) Statement*

In [ ]:
a, b = 2, 4
print(a)

print(a,b)

2
2 4

In [ ]:
# we can use sep attribute which is used to seperate the values in the output.
print(a, b, sep = ',')

print(a, b, sep=':')

print(a,b,sep='---')

2,4
2:4
2---4

In [ ]:
print("Hello","Jayesh","Pattamatta", sep="---")

Hello---Jayesh---Pattamatta

In [ ]:
print('I watched movie named "Kalki" and it was very good.')
print("It is a 'Mythological Sci-Fi' movie.")

I watched movie named "Kalki" and it was very good.
It is a 'Mythological Sci-Fi' movie.

In [ ]:
print("Hello", end=" ")
print("Jay")

Hello Jay

In [ ]:
print("Hello", end="\t")
print("Dear", end='\t')
print("How are you?", end='\t')

Hello	Dear	How are you?

In [ ]:
print("Welcome to the RBR course","This is Jayesh Pattamatta", sep="++", end="***")
print("Checkout to this course")
print("It is python programming.")

Welcome to the RBR course++This is Jayesh Pattamatta***Checkout to this course
It is python programming.

## *print(object) statement*

We can pass objects like tuples, lists or dictionaries to the print() function.

In [ ]:
list = [12,"B",'Jay']
print(list)

[12, 'B', 'Jay']

In [ ]:
dict = {'Wada' : 40, 'Dosa': 60, 'Idli': 30}
print(dict)

{'Wada': 40, 'Dosa': 60, 'Idli': 30}

## *print("string", variables list) statements*

In [ ]:
a = 3
print(a, "is an odd number")

3 is an odd number

In [ ]:
print('You have typed', a, 'as an the input')

You have typed 3 as an the input

## *print(formatted string) statement*

We can use % operator to join a string with a variable or value in the format:


```
print("formatted string" % (variables list))
```

*   In the "formatted string", we can use %i or %d to represent decimal integer numbers
*   %f to represent the float values.
*   %s to represent the strings.

In [ ]:
x = 19
print('value = %i' % x)

value = 19

In [ ]:
name = 'Jayesh'
print('Hi %s' % name)

Hi Jayesh

In [ ]:
print('Hi (%20s)' % name)

Hi (              Jayesh)

In [ ]:
print('Hi (%-20s)' % name)

Hi (Jayesh              )

In [ ]:
# we use %c to display a single character
name = 'Jayesh'
print('Hi %c, %c' % (name[0], name[1]))

Hi J, a

In [ ]:
print("Hi %s" % (name[0:2]))

Hi Ja

In [ ]:
num = 142.394039
print('The value of num is %f' % num)

The value of num is 142.394039

In [ ]:
print('the value is: %8.2f' % num) # 8 spaces and 2 fractional digits

the value is:   142.39

In [ ]:
print('The value is: %.2f' % num)

The value is: 142.39

In [ ]:
# using format() method
name, salary = 'Jayesh', 50000
print('Hi {}, your salary is {}.'.format(name, salary))

Hi Jayesh, your salary is 50000.

In [ ]:
print('Hello {n}, your salary is {s}'.format(n=name, s=salary))

Hello Jayesh, your salary is 50000

In [ ]:
print('Hello {:s}, your salary is {:.2f}'.format(name, salary))

Hello Jayesh, your salary is 50000.00

In [ ]:
print('Hello %s, your salary is %.2f' % (name, salary))

Hello Jayesh, your salary is 50000.00

# Input Statmenets

In Python, we use the input() function. This takes the value from the keyboard and returns it as a string.

In [ ]:
str = input()

Jay

In [ ]:
print(str)

Jay

In [ ]:
# good practice to write a message so that users know that they have to inputs
str = input("Enter your name: ")
print('Your name is', str, '. Very nice to meet you !')

Enter your name: Jayesh
Your name is Jayesh . Very nice to meet you !

In [ ]:
str = input('Enter a number: ')
x = int(str)
print(x)

Enter a number: 24
24

In [ ]:
# alternate way of writing the similar thing is
x = int(input('Enter a number: '))
print(x)

Enter a number: 94
94

In [ ]:
# we can use float to get the decimal values too
x = float(input('Enter a number: '))
print(x)

Enter a number: 98.076
98.076

**Problem: Write a Python program to accept a string from keyboard and display it.**

In [ ]:
# accepting a string from keyboard
str = input('Enter a string: ')
print('You entered: ', str)

Enter a string: Namaste
You enetered:  Namaste

**Problem: A Python program to accept a character as a string.**

In [ ]:
# accepting a single character or string from keyboard
ch = input('Enter a character: ')
print('You entered: ' +ch)

Enter a character: B
You entered: B

In [ ]:
ch = input('Enter a character: ')
print('You entered: ' +ch[0])

Enter a character: Jayant
You entered: J

**Problem : A Python Program to accept an integer number from keyboard**

In [ ]:
str = input('Enter a number: ')
x = int(str)
print('You entered : ',x)

Enter a number: 22
You entered :  22

In [ ]:
# alterate way of writing the code can be
x = int(input('Enter a number: '))
print('You entered : ',x)

Enter a number: 11
You entered :  11

**Problem : A Python Program to accept a float from the keyboard**

In [ ]:
x = float(input('Enter a number: '))
print('You entered : ',x)

Enter a number: 3.2
You entered :  3.2

**Problem : A Python Program to accept 2 integers form the keyboard**

In [ ]:
x = int(input('Enter a number: '))
y = int(input('Enter another number: '))
print('You entered :', x, y)

Enter a number: 2
Enter another number: 3
You entered : 2 3

**Problem : Write a python program where we accept 2 numbers from the user and display the sum of it.**

In [ ]:
x = int(input())
y = int(input())
sum = x + y
print('The sum of {} and {} is {}'.format(x, y, sum))

2
7
The sum of 2 and 7 is 9

In [ ]:
#alternate way of writing it can be
x = int(input())
y = int(input())
sum = x + y
print('the sum of', x , 'and', y, 'is :', sum)

2
6
the sum of 2 and 6 is : 8

## Multiple String inputs

We've seen how to use the input() function to take input multiple times, accepting one value per line. However, sometimes you need to accept multiple inputs in a single line. To do this, you can use the split() function.

For example, if the user inputs the following:

```
Good Great Awesome
```
You can read these inputs like this:

```
a, b, c = input().split()
```
The split() function breaks this single line of input into multiple parts. By default, split() divides the input based on spaces, so each word separated by a space is treated as an independent input and stored in different variables.

In [ ]:
a, b, c, d = input("Enter four values separated by spaces: ").split()
print(d, c, b, a)

Enter four values separated by spaces: Air Water Fire Earth
Earth Fire Water Air

## Multiple integer inputs

The syntax you saw in the previous lesson takes string inputs. But if you need to take multiple integer inputs, you'll have to convert them separately.

You cannot call the int function directly on the split input as int function can only be called on one value as a time and split input has multiple values.

To handle this, you can use the map function to convert the split inputs to integers in one step. Here's how you can do it:


```
a, b, c = map(int, input().split())   # assigns integer input values to variables a, b and c
```
What map does is, it takes the list of multiple inputs and applies the integer function to each input in the list.

**Problem : We are given 3 integer inputs *a, b, c* in the 1st line and on the 2nd line integer inputs *d, e*. We should print the sum of all input variables.**

In [ ]:
print('Give any 3 numbers separated by spaces:')
a, b, c = map(int, input().split())

print('Give any next 2 numbers separated by spaces:')
d, e = map(int, input().split())

print('The Sum of all numbers is:', a+b+c+d+e)

Give any 3 numbers separated by spaces:
76 56 90
Give any next 2 numbers separated by spaces:
4 66
The Sum of all numbers is: 292

The eval() function takes a string and evaluates the result of the string by taking it as a Python expression.

In [ ]:
a, b = 5, 10
result = eval('a + b')
print(result)

15

In [ ]:
x = eval(input('Enter an expression: '))
print("Result = %d" % x)

Enter an expression: 10 + 5 - 4
Result = 11